/*
    GENERAL STYLING
*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #202124;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.message.error {
    color: red;
}

.message.success {
    color: rgb(72, 211, 72);
}

/*
    LOGIN/CREATE ACCOUNT PAGE
*/

.login-form-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    height: auto;
    background: #303134;
    padding: 5px;
    gap: 10px;
}

.login-header {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    height: auto;
    border-bottom: 1px solid rgb(60, 64, 67);
}

.login-header-text {
    width: auto;
}

.login-main {
    padding: 10px 10px 20px 10px;
}

.login-main-text {
    letter-spacing: 2px;
    height: auto;
    padding: 5px;
    text-align: center;
}

.login-input-container {
    display: flex;
    height: auto;
}

.login-input-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    min-width: 100px;
    width: auto;
}

.login-input {
    display: contents;
    width: auto;
}

.login-input-box {
    color: white;
}

.login-create-account {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.login-button-containter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 10px;
}

.login-button {
    margin: 0;
}

.login-button:hover {
    background: #47484d;
}

/*
    NOTES INDEX
*/

.notes-columns-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
}

.notes-columns {
    display: flex;
    width: 100%;
    height: 100%;
    background: #303134;
    overflow-x: scroll;
}

.notes-column {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    height: 100%;
}

.notes-column:first-child {
    border-right: 1px solid rgb(60, 64, 67);
}

.notes-column:not(:last-child) {
    border-right: 1px solid rgb(60, 64, 67);
}

.notes-column > * {
    width: 100%;
}

.notes-column-header {
    display: flex;
    height: 10%;
    justify-content: center;
}

.notes-column-content {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.column-header-content,
.column-name-change {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 24px;
}

.column-name-change {
    display: none;
}

.add-column,
.add-note {
    height: 30px;
    width: 30px;
    background-image: url(../img/notes/add_column.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    cursor: pointer;
    position: relative;
}

.add-button-tooltip,
.add-note-tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 72%;
    left: 124%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.add-button-tooltip::after,
.add-note-tooltip::after,
.edit-column-tooltip::after {
    content: "";
    position: absolute;
    top: -21%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(180deg);
}

.add-column:hover .add-button-tooltip,
.add-note:hover .add-note-tooltip {
    transform: rotate(-45deg);
}

.add-column:hover .add-button-tooltip,
.remove-column:hover .remove-button-tooltip,
.add-note:hover .add-note-tooltip,
.edit-column:hover .edit-column-tooltip {
    visibility: visible;
    opacity: 1;
}

.remove-column {
    height: 30px;
    width: 30px;
    background-image: url(../img/notes/add_column.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.remove-button-tooltip {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 124%;
    left: -49%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.remove-button-tooltip::after {
    content: "";
    position: absolute;
    top: -21%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(180deg);
}

.edit-column {
    height: 30px;
    width: 30px;
    background-image: url(../img/notes/edit_column.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.edit-column-tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 115%;
    left: 19%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.edit-column-tooltip::after {
    top: -21%;
    left: 50%;
}

.action-links {
    display: flex;
    gap: 40px;
    position: absolute;
    right: 50px;
    top: 30px;
}

/*
    NOTES
*/

.note-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.note {
    color: white;
    margin: 0;
    overflow: hidden;
}

.note-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.save-note,
.update-column {
    height: 30px;
    width: 30px;
    background-image: url(../img/notes/save_note.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.delete-note {
    height: 30px;
    width: 30px;
    background-image: url(../img/notes/add_column.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.note-button-tooltip,
.update-button-tooltip {
    visibility: hidden;
    width: 110px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 65%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.note-button-tooltip::after,
.update-button-tooltip::after {
    content: "";
    position: absolute;
    top: -30%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(180deg);
}

.update-button-tooltip {
    top: 118%;
}

.update-button-tooltip::after {
    top: -20%;
}

.save-note:hover .note-button-tooltip,
.delete-note:hover .note-button-tooltip,
.update-column:hover .update-button-tooltip {
    visibility: visible;
    opacity: 1;
}

.add-note:not(:first-child) {
    margin-top: 40px;
}

.add-note-tooltip {
    width: 95px;
    top: 82%;
    left: 179%;
}

.add-note-tooltip::after {
    top: -29%;
}

/*
    TEMPLATES
*/

.templates {
    display: none;
}

.column-name-input,
.class-name-update-input {
    margin: 0;
    color: white;
}

/*
    POPUP
*/

.success-popup-message {
    display: none;
    position: absolute;
    color: rgb(72, 211, 72);
    border: 2.5px solid rgb(60, 64, 67);
    border-radius: 25px;
    padding: 15px;
    top: 60px;
    left: 60px;
}
